header{
    width:80%;
    min-width: 50%;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: #3093c0;
    justify-content: center;
    border-radius: 8px;
}

.loginRegister{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
}


.container{
    width:80%;
    min-width: 50%;
    margin:auto;
    display:flex;
    flex-direction:column;





}
.loginRegister{

    flex: 1;


}

.logreg-heading{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;


}

.logreg-heading-text{
    font-size:1.8rem;
    color:white;
    padding: 0.8rem 1.7rem;
    border-radius: 0.5rem;
    margin: 1rem;
    border: 2px solid white;
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}
.loginBlock,
.registerBlock{
    flex: 1;
    width: 50%;
    height: 300px;
    padding: 4px;
    margin-top: 2px;

    border-radius: 8px;

}




.form-row{
    display:flex;
    flex-direction:row;
    margin:0.2rem;
}
#registerBlock {
    background-color: lightgray;
    margin-left: 1px;
}
#loginBlock {
    background-color: lightgray;
    margin-right: 1px;

}
.form-row-label{
    width: 15%;
    padding: 0.2rem;
    padding-right:0.5rem;
    border:0.1rem solid black;
    border-right: 0;
    border-radius: 0.2rem 0rem 0rem 0.2rem;
    display: block;
    width: 130px;
}
.form-row-input{
    border:0.1rem solid black;
    border-radius:0rem 0.2rem 0.2rem 0rem;
    width: 85%;
}
.form-row{
    display:flex;
    flex-direction:row;
    margin:0.2rem;
}
body{
    background-color: black;

}



#anmeldenButton,
.form-row-buttons {
    transition: box-shadow 180ms ease-in;

    background-color: #099dee;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    height: 30px;

}


#anmeldenButton:hover,
.form-row-buttons:hover {
    box-shadow: 0 0 0 3px tomato;
}

.form-row-input,
.form-row-label{
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}